# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# =========================
# Virtual environments
# =========================
.env
.venv
venv/
env/
conda-env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
mlruns/
mlflow.db

# =========================
# PyTorch Lightning
# =========================
lightning_logs/
checkpoints/

# =========================
# Datasets
# =========================


# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.bak